Socioeconomico_2022.csv
Puntajes_2022.csv
Carreras.xlsx
20220302_Rendimiento_2021_20220131_WEB.csv
ER_Alumnos_PDT_2022_MRUN_(B_DATOS_SOCIOECONOMICOS).pdf
ER_Alumnos_PDT_2022_MRUN(A_INSCRITOS_PUNTAJES).pdf